$text-color-black: #000000;
$text-color-gray: #7E7E7E;
$input-background-color-grey: #D7D7D7;
$input-background-color-black: #000000;
$text-color-red: #990000;
// Для білої теми
$text-color-green-wh: #039900;

// Для темної теми 
$text-color-green-bl: #47DE44;
$background-color-bl: #7E7E7E;
$modal-background-color-bl: #7E7E7E;
