<footer class="footer">
  <div class="container container-footer">
    <ul class="footer-list">
      <li class="footer-item">
        <img src="/src/images/footer-logo.png" alt="" />
      </li>
      <li class="footer-item">
        <p class="text-footer">Тел: <a class="link-footer" href="#"></a>+38 (123) 456 78 90</p>
        <p class="text-footer">E-Mail: <a class="link-footer" href="#">codingmagic@gmail.com</a></p>
        <p class="text-footer">Facebook: <a class="link-footer" href="#">CodingMagic</a></p>
        <p class="text-footer">Twitter: <a class="link-footer" href="#">CodingMagic</a></p>
        <p class="text-footer">Instagram: <a class="link-footer" href="#">CodingMagic</a></p>
      </li>
      <li class="footer-item">
        <input class="input-footer" type="text" placeholder="Ваша ел. адреса...">
        <button class="btn-form" type="button">Підписатись</button>
        <p class="subscribe" data-action="open-modal">*Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті</p>
      </li>
    </ul>
  </div>
</footer>
