<section class="game-stone">
  <div class="container">
    <h2 class="game-stone-title">Камінь - ножиці - папір</h2>
    <ul class="btn-result-list">
      <li>
        <button class="btn-stone" id="stone">
          <img src="./images/stone.svg" alt="stone" />
        </button>
      </li>
      <li>
        <button class="btn-stone" id="scissors">
          <img src="./images/scissors.svg" alt="scissors" />
        </button>
      </li>
      <li>
        <button class="btn-stone" id="paper">
          <img src="./images/paper.svg" alt="paper" />
        </button>
      </li>
    </ul>
    <p class="text-result" id="text-result-js">Хто виграє цей раунд?</p>
    <p class="comp-choice">Варіант комп’ютера</p>
    <div class="box-result">
      <h3 class="title-result">Рахунок:</h3>
      <ul class="list-result">
        <li class="item-result">Комп’ютер - <span id="comp-result">0</span></li>
        <li class="item-result">Ви - <span id="my-result">0</span></li>
      </ul>
    </div>
  </div>
</section>
