<header class="header">
    <img src="/src/images/logo-header.png" alt="logo" />
    <nav class="nav">
      <ul class="list-header">
        <li class="list_item">
          <a class="link-item" href="#">Інтерактив</a>
          <ul class="dropdown">
            <li><a class="link-dropdown" href="#">Числовий</a></li>
            <li><a class="link-dropdown" href="#">Ігровий</a></li>
            <li><a class="link-dropdown" href="#">Ознайомчий</a></li>
          </ul>
        </li>
        <li class="list_item">
          <a href="#">Наша команда</a>
        </li>
        <li class="list_item">
          <a href="#">Контакти</a>
        </li>
      </ul>     
        <label class="switch">
            <input type="checkbox">
            <div class="slider">
              <div class="icon sun">
                <svg width="19" height="19">
                  <use href="./sprite/symbol-defs.svg#icon-sun"></use>
                </svg>
              </div>
                <div class="icon moon">
                  <svg width="50" height="50">
                    <use href="./sprite/symbol-defs.svg#icon-moon"></use>
                  </svg>
                </div>
            </div>
        </label>

      
    </nav>
  </header>