  <div class="modal" id="myModal">
        <div class="modal-content">
            <button class="close-btn" id="closeModal">&times;</button>
            <p class="title-modals">Привіт!<br> Ви потрапили на сайт інтерактивних ігор та завдань.<br>
            Сподіваємося, що вам сподобається, і ви отримаєте позитивні емоції!<br>
            Бажаємо вам гарно провести час!</p>
            <label class="user" for="username">Введіть своє ім’я:</label><br>
            <input type="text" id="username" class="input-field" placeholder="Ваше ім’я..."><br>
            <button class="save-btn" id="saveName">Зберегти</button>
            <div id="error" class="error-message"></div>
        </div>
    </div>