<section class="number" id="number-section">
  <div class="container">
    <h2 class="number-title">Вгадай число, яке загадав комп’ютер</h2>
    <form class="number-form">
      <div class="number-input">
        <input
          class="number-input-text"
          id="number-js"
          type="text"
          placeholder="Введіть число"
        />
        <button class="number-btn" id="number-btn-js">
          <img src="/src/images/icon-search.svg" alt="icon" />
        </button>
      </div>

      <p class="number-text-result" id="number-result-js">
        Чи вгадали ви число?
      </p>
    </form>
  </div>
</section>
