<section class="scientists">
  <div class="container">
    <h2 class="title-scientists">Обери вченого/их</h2>
    <div id="scientists-container"></div>
    <div class="buttons">
      <button class="scientists_btn" id="btn19century">
        Вчені, що народилися у 19 ст.
      </button>
      <button class="scientists_btn" id="btnSumYears">
        Сума років всіх вчених
      </button>
      <button class="scientists_btn" id="btnSortAlpha">
        Відсортувати по алфавіту
      </button>
      <button class="scientists_btn" id="btnSortYearsLived">
        Відсортувати по кількості прожитих років
      </button>
      <button class="scientists_btn" id="btnRemoveOld">
        Видалити тих, хто народився в 15-17 ст.
      </button>
      <button class="scientists_btn" id="btnLatestBorn">
        Знайти найпізніше народженого
      </button>
      <button class="scientists_btn" id="btnFindEinstein">
        Рік народження Альберта Ейнштейна
      </button>
      <button class="scientists_btn" id="btnSurnameC">Прізвище на "C"</button>
      <button class="scientists_btn" id="btnRemoveA">
        Видалити ім'я на "А"
      </button>
      <button class="scientists_btn" id="btnMaxMinLived">
        Найдовше і найменше прожили
      </button>
      <button class="scientists_btn" id="btnMatchingLetters">
        Співпадають перші літери
      </button>
      <button class="scientists_btn" id="btnAll19">
        Чи всі вчені з 19 ст.?
      </button>
    </div>
  </div>
</section>
