<section class="scientists"></section>  
  <h1>Список вчених</h1>
    <div id="scientists-container"></div>
    <div class="container container-scientists">
    <div class="buttons">
        <button class="scientists_btn" id="btn19century">Вчені, що народилися у 19 ст.</button>
        <button class="scientists_btn" id="btnSumYears">Сума років всіх вчених</button>
        <button class="scientists_btn" id="btnSortAlpha">Відсортувати по алфавіту</button>
        <button class="scientists_btn" id="btnSortYearsLived">Відсортувати по кількості прожитих років</button>
        <button class="scientists_btn" id="btnRemoveOld">Видалити тих, хто народився в 15-17 ст.</button>
        <button class="scientists_btn" id="btnLatestBorn">Знайти найпізніше народженого</button>
        <button class="scientists_btn" id="btnFindEinstein">Рік народження Альберта Ейнштейна</button>
        <button class="scientists_btn" id="btnSurnameC">Вчені, прізвище яких починається на "С"</button>
        <button class="scientists_btn" id="btnRemoveA">Видалити вчених з ім'ям на "А"</button>
        <button class="scientists_btn" id="btnMaxMinLived">Знайти вченого, що прожив найбільше і найменше</button>
        <button class="scientists_btn" id="btnMatchingLetters">Співпадають перші літери імені та прізвища</button>
        <button class="scientists_btn" id="btnAll19">Чи всі працювали в 19 ст.?</button>
    </div>
    </div>

