<section class="team">
    <div class="container">
        <h2 class="title-team">Наша команда</h2>
        <div class="slider">
            <div class="" onclick="prevSlide()">&#10094;</div>
            <div class="slide">
                <div class="student-info">
                    <div class="student-photo"></div>
                    <h2>Ім'я студента</h2>
                    <p>Інформація про роботу, яку він/вона виконав/ла</p>
                </div>
            </div>
            <div class="" onclick="nextSlide()">&#10095;</div>
        </div>
    </div>
</section>