<section class="team">
    <div class="arrow-left" onclick="prevSlide()"><img src="/src/images/left-arrow.png" alt="left"></div>
    <div class="container">
        <h2 class="title-team">Наша команда</h2>
        <div class="team-slider">
            <div class="slider-item">
                <div class="student-info">
                    <div class="student-photo"><img class="img-team" src="/src/images/noname.png" alt="tip"></div>
                    <h2>Ім'я студента</h2>
                    <p>Інформація про роботу, яку він/вона виконав/ла</p>
                </div>
            </div>
        </div>
    </div>
    <div class="arrow-right" onclick="nextSlide()"><img src="/src/images/right-arrow.png" alt="right"></div>
</section>