<section class="three-numbers" id="number-section">
  <div class="container">
    <h2 class="three-numbers-titles">Введіть 3 числа</h2>
    <form action="" class="form-number">
      <input
        class="input-three-num"
        type="text"
        id="first-number"
        placeholder="Введіть число"
      />
      <input
        class="input-three-num"
        type="text"
        id="second-number"
        placeholder="Введіть число"
      />
      <input
        class="input-three-num"
        type="text"
        id="third-number"
        placeholder="Введіть число"
      />
    </form>
    <button class="number-result" id="btn-result">
      Ви ще не ввели конкретне число
    </button>
  </div>
</section>
