<section class="time-calculator">
  <div class="container">
    <h2 class="time-calculator-title">Калькулятор часу</h2>
    <div class="form-time">
      <div>
        <input
          class="time-calculator-input"
          id="time-calculator-js"
          type="text"
          placeholder="Введіть число"
        />
        <button class="time-calculator-btn" id="time-btn-js">
          <img src="/src/images/icon-search.svg" alt="icon" />
        </button>
      </div>
      <div class="result" id="time-result">3 дн. 15:45:01</div>
    </div>
  </div>
</section>
