<section class="year">
  <div class="container">
    <h1 class="hero-title">Популярні інетрактивні ігри</h1>
    <h2 class="year-title">Перевір в який рік ти народився</h2>
    <form class="year-form">
      <div class="year-input">
        <input
          class="year-input-text"
          id="year-input-js"
          type="text"
          placeholder="Введіть рік народження"
        />
        <button class="year-btn" id="year-btn-js">
          <img src="/src/images/icon-search.svg" alt="icon" />
        </button>
      </div>
      <p class="year-text-result" id="text-result">В який рік ви народилися?</p>
    </form>
  </div>
</section>
