.game-stone-title::after {
  content: ' ';
  display: block;
  width: 536px;
  height: 1px;
  background-color: rgb(0, 0, 0);
  position: relative;
  top: -50px;
  left: -150px;
}

.game-stone-title {
  margin: 0 auto;
  width: 195px;
  font-size: 16px;
  font-weight: 400;
}

.btn-stone {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  border: none;
}
.btn-result-list {
  display: flex;
  width: 260px;
  margin: 35px auto 0;
  justify-content: space-between;
}

.text-result {
  text-align: center;
  font-size: 12px;
  width: 169px;
  margin: 36px auto 0;
}
.comp-choice {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 182px;
  height: 35px;
  font-size: 12px;
  border-radius: 20px;
  margin: 36px auto 0;
  background-color: $input-background-color-black;
  color: #ffff;
}
.box-result {
  font-size: 12px;
  font-weight: 400;
  position: relative;
  top: -183px;
  left: 670px;
}

.item-result {
  margin-top: 10px;
}
.title-result {
  font-weight: 400;
}
