.three-numbers {
  width: 1090px;
  margin: 0 auto;
  background-color: #fff;
  padding: 72px 0 0;
}
.three-numbers-titles {
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400;
  width: 141px;
}
.three-numbers-titles::after {
  content: ' ';
  display: block;
  width: 536px;
  height: 1px;
  background-color: rgb(0, 0, 0);
  position: relative;
  top: -50px;
  left: -184px;
}
.form-number {
  display: flex;
  justify-content: space-between;
  width: 485px;
  margin: 35px auto 0;
}
.input-three-num {
  width: 137px;
  height: 35px;
  font-size: 12px;
  background-color: $input-background-color-grey;
  border: none;
  border-radius: 20px;
  text-align: center;
}
.input-three-num:focus {
  outline: none;
}
.number-result {
  height: 35px;
  border-radius: 20px;
  background-color: black;
  display: block;
  width: 260px;
  color: #fff;
  border: none;
  font-size: 12px;
  margin: 30px auto 0;
}
