.time-calculator {
  width: 1090px;
  margin: 0 auto;
  background-color: #fff;
}
.time-calculator-title {
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400;
  width: 165px;
}
.time-calculator-title::after {
  content: ' ';
  display: block;
  width: 536px;
  height: 1px;
  background-color: rgb(0, 0, 0);
  position: relative;
  top: -50px;
  left: -170px;
}
.time-calculator-input {
  width: 115px;
  height: 35px;
  font-size: 12px;
  background-color: $input-background-color-grey;
  border: none;
  border-radius: 20px 0 0 20px;
  padding: 0 10px;
  box-shadow: 3px 3px #7e7e7e;
}
.time-calculator-input:focus {
  outline: none;
}

.time-calculator-btn {
  width: 35px;
  height: 35px;
  background-color: $input-background-color-black;
  border: none;
  border-radius: 0 20px 20px 0;
  position: relative;
  left: -4px;
  top: 2px;
  box-shadow: #7e7e7e 3px 3px 0px 0px;
}
.form-time {
  display: flex;
  width: 400px;
  margin: 35px auto 0;
  align-items: center;
  justify-content: space-between;
}
